IDH.Sales.BLL/Web References/StockWebReference/StockWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="GetStock">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_SalesRepID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_CategoryID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_CompanyID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="_Month" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="_UserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_ItemID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStockResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStockResult" type="tns:ArrayOfYKN_P_GetStock_Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfYKN_P_GetStock_Result">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="YKN_P_GetStock_Result" nillable="true" type="tns:YKN_P_GetStock_Result" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="YKN_P_GetStock_Result">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="itemName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="StartBalance" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="new_Balance" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="categoryID" nillable="true" type="s1:guid" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetStockCategory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_UserID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_CompanyID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStockCategoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStockCategoryResult" type="tns:ArrayOfYKN_P_GetStockCategory_Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfYKN_P_GetStockCategory_Result">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="YKN_P_GetStockCategory_Result" nillable="true" type="tns:YKN_P_GetStockCategory_Result" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="YKN_P_GetStockCategory_Result">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="categoryName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CategoryID" type="s1:guid" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetStockItemByCategory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_CategoryID" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="_SalesRepID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_CompanyID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStockItemByCategoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStockItemByCategoryResult" type="tns:ArrayOfYKN_P_GetStockitemByCategory_Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfYKN_P_GetStockitemByCategory_Result">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="YKN_P_GetStockitemByCategory_Result" nillable="true" type="tns:YKN_P_GetStockitemByCategory_Result" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="YKN_P_GetStockitemByCategory_Result">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="StockitemName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="StockItemGUID" nillable="true" type="s1:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="Balance" nillable="true" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetStockReportDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_CompanyID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="_Month" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="_UserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_RoleID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStockReportDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStockReportDetailsResult" type="tns:ArrayOfYKN_P_GetStockReportDetails_Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfYKN_P_GetStockReportDetails_Result">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="YKN_P_GetStockReportDetails_Result" nillable="true" type="tns:YKN_P_GetStockReportDetails_Result" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="YKN_P_GetStockReportDetails_Result">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="itemName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="itemGUID" type="s1:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalStock" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="availableStock" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="salesRepName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DirectManagerName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="VisitNo" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CategoryName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AssignStockItem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_UserID" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="_ItemID" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="_SalesRepID" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="_Qty" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="_CompanyID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="_Guid" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AssignStockItemResponse">
        <s:complexType />
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetStockSoapIn">
    <wsdl:part name="parameters" element="tns:GetStock" />
  </wsdl:message>
  <wsdl:message name="GetStockSoapOut">
    <wsdl:part name="parameters" element="tns:GetStockResponse" />
  </wsdl:message>
  <wsdl:message name="GetStockCategorySoapIn">
    <wsdl:part name="parameters" element="tns:GetStockCategory" />
  </wsdl:message>
  <wsdl:message name="GetStockCategorySoapOut">
    <wsdl:part name="parameters" element="tns:GetStockCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="GetStockItemByCategorySoapIn">
    <wsdl:part name="parameters" element="tns:GetStockItemByCategory" />
  </wsdl:message>
  <wsdl:message name="GetStockItemByCategorySoapOut">
    <wsdl:part name="parameters" element="tns:GetStockItemByCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="GetStockReportDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetStockReportDetails" />
  </wsdl:message>
  <wsdl:message name="GetStockReportDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetStockReportDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="AssignStockItemSoapIn">
    <wsdl:part name="parameters" element="tns:AssignStockItem" />
  </wsdl:message>
  <wsdl:message name="AssignStockItemSoapOut">
    <wsdl:part name="parameters" element="tns:AssignStockItemResponse" />
  </wsdl:message>
  <wsdl:portType name="StockWebServiceSoap">
    <wsdl:operation name="GetStock">
      <wsdl:input message="tns:GetStockSoapIn" />
      <wsdl:output message="tns:GetStockSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStockCategory">
      <wsdl:input message="tns:GetStockCategorySoapIn" />
      <wsdl:output message="tns:GetStockCategorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStockItemByCategory">
      <wsdl:input message="tns:GetStockItemByCategorySoapIn" />
      <wsdl:output message="tns:GetStockItemByCategorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStockReportDetails">
      <wsdl:input message="tns:GetStockReportDetailsSoapIn" />
      <wsdl:output message="tns:GetStockReportDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AssignStockItem">
      <wsdl:input message="tns:AssignStockItemSoapIn" />
      <wsdl:output message="tns:AssignStockItemSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StockWebServiceSoap" type="tns:StockWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStock">
      <soap:operation soapAction="http://tempuri.org/GetStock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStockCategory">
      <soap:operation soapAction="http://tempuri.org/GetStockCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStockItemByCategory">
      <soap:operation soapAction="http://tempuri.org/GetStockItemByCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStockReportDetails">
      <soap:operation soapAction="http://tempuri.org/GetStockReportDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssignStockItem">
      <soap:operation soapAction="http://tempuri.org/AssignStockItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="StockWebServiceSoap12" type="tns:StockWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStock">
      <soap12:operation soapAction="http://tempuri.org/GetStock" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStockCategory">
      <soap12:operation soapAction="http://tempuri.org/GetStockCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStockItemByCategory">
      <soap12:operation soapAction="http://tempuri.org/GetStockItemByCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStockReportDetails">
      <soap12:operation soapAction="http://tempuri.org/GetStockReportDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssignStockItem">
      <soap12:operation soapAction="http://tempuri.org/AssignStockItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StockWebService">
    <wsdl:port name="StockWebServiceSoap" binding="tns:StockWebServiceSoap">
      <soap:address location="http://yakensolution.cloudapp.net/IDHServices/Services/StockWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="StockWebServiceSoap12" binding="tns:StockWebServiceSoap12">
      <soap12:address location="http://yakensolution.cloudapp.net/IDHServices/Services/StockWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>