IDH.Sales.BLL/Web References/UserServiceReference/UserWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="GetUserData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_Password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_CompanyID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserDataResult" type="tns:YKN_P_GetUserData_Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="YKN_P_GetUserData_Result">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FullName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UserGUID" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ImageURL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RuleGUID" type="s1:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="RuleName" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ManagerGUID" nillable="true" type="s1:guid" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetUserDataByGuid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_UserGuid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserDataByGuidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserDataByGuidResult" type="tns:YKN_P_GetUserDataGUID_Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="YKN_P_GetUserDataGUID_Result">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FullName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UserGUID" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ImageURL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RuleGUID" type="s1:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="RuleName" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ManagerGUID" nillable="true" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="Managername" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Lock" nillable="true" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="UpdatePeriod">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Priod" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="_UserGuid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePeriodResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateLock">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Lock" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="_UserGuid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="employeeID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateLockResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdatePassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_UserGuid" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="LastUpdate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePasswordResponse">
        <s:complexType />
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetUserDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserData" />
  </wsdl:message>
  <wsdl:message name="GetUserDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserDataByGuidSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserDataByGuid" />
  </wsdl:message>
  <wsdl:message name="GetUserDataByGuidSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserDataByGuidResponse" />
  </wsdl:message>
  <wsdl:message name="UpdatePeriodSoapIn">
    <wsdl:part name="parameters" element="tns:UpdatePeriod" />
  </wsdl:message>
  <wsdl:message name="UpdatePeriodSoapOut">
    <wsdl:part name="parameters" element="tns:UpdatePeriodResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateLockSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateLock" />
  </wsdl:message>
  <wsdl:message name="UpdateLockSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateLockResponse" />
  </wsdl:message>
  <wsdl:message name="UpdatePasswordSoapIn">
    <wsdl:part name="parameters" element="tns:UpdatePassword" />
  </wsdl:message>
  <wsdl:message name="UpdatePasswordSoapOut">
    <wsdl:part name="parameters" element="tns:UpdatePasswordResponse" />
  </wsdl:message>
  <wsdl:portType name="UserWebServiceSoap">
    <wsdl:operation name="GetUserData">
      <wsdl:input message="tns:GetUserDataSoapIn" />
      <wsdl:output message="tns:GetUserDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserDataByGuid">
      <wsdl:input message="tns:GetUserDataByGuidSoapIn" />
      <wsdl:output message="tns:GetUserDataByGuidSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePeriod">
      <wsdl:input message="tns:UpdatePeriodSoapIn" />
      <wsdl:output message="tns:UpdatePeriodSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateLock">
      <wsdl:input message="tns:UpdateLockSoapIn" />
      <wsdl:output message="tns:UpdateLockSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePassword">
      <wsdl:input message="tns:UpdatePasswordSoapIn" />
      <wsdl:output message="tns:UpdatePasswordSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserWebServiceSoap" type="tns:UserWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUserData">
      <soap:operation soapAction="http://tempuri.org/GetUserData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserDataByGuid">
      <soap:operation soapAction="http://tempuri.org/GetUserDataByGuid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePeriod">
      <soap:operation soapAction="http://tempuri.org/UpdatePeriod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateLock">
      <soap:operation soapAction="http://tempuri.org/UpdateLock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePassword">
      <soap:operation soapAction="http://tempuri.org/UpdatePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UserWebServiceSoap12" type="tns:UserWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUserData">
      <soap12:operation soapAction="http://tempuri.org/GetUserData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserDataByGuid">
      <soap12:operation soapAction="http://tempuri.org/GetUserDataByGuid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePeriod">
      <soap12:operation soapAction="http://tempuri.org/UpdatePeriod" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateLock">
      <soap12:operation soapAction="http://tempuri.org/UpdateLock" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePassword">
      <soap12:operation soapAction="http://tempuri.org/UpdatePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserWebService">
    <wsdl:port name="UserWebServiceSoap" binding="tns:UserWebServiceSoap">
      <soap:address location="http://yakensolution.cloudapp.net/IDHServices/Services/UserWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="UserWebServiceSoap12" binding="tns:UserWebServiceSoap12">
      <soap12:address location="http://yakensolution.cloudapp.net/IDHServices/Services/UserWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>